@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --background-color: #1b1b19;

  --text-color: #d1cbc1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.canvas-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

canvas {
  border: 8px solid var(--border-color);
  cursor: crosshair;
}
